/* Common Styles */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.primary-paragraph {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.primary-button {
    border: none;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
}

.secound-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
}

.secoundary-color {
    color: #FF900E;
}

/* Banner Styles */
.banner {
    height: 1450px;
    background: rgba(255, 144, 14, 0.1);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.company-name h4 {
    padding-top: 50PX;
    padding-left: 230px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-menus ul {
    padding-top: 65PX;
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 240px;
    font-weight: 500;
    font-size: 18px;
}

.banner-description {
    text-align: center;
}

.banner-description h1 {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-image {
    width: 100%;
    height: 700px;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

/* End Banner section */

/* Quick List section */
.quick-list {
    padding-top: 85px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.quick-list-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list-image img {
    width: 342px;
    height: 342px;
    border-radius: 10px;
}

.quick-list-detais {
    padding-left: 75px;
    padding-top: 200px;
}

.quick-list-detais h3 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

/* End Quick List section */

/* Features section */
.features {
    display: flex;
    padding-top: 130px;
    padding-bottom: 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 80px;
}

.main-paragraph {
    text-align: left;
}

.features-deatails h5 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    text-align: left;
}

.features-deatails {
    width: 514px;
    height: 111px;
    text-align: left;
}

.left-border {
    border-left: 5px solid #FF900E;
    padding-left: 30px;
    text-align: left;
}

/* Expirence Button section */

.expirence-button {
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    line-height: 10px;
    position: absolute;
    vertical-align: middle;
    margin-top: -123px;
    margin-left: -95px;
}

.expirence-button h3 {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.expirence-button p {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF
}

/* Some Facts section */
.some-facts-info {
    padding-left: 740px;
}

.some-facts-info h3 {
    text-align: left;
}

.services {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.facts {
    justify-content: center;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241px;
    height: 241px;
    line-height: 9px;
    padding-top: 45px;
}

/* Sponspor section */
.sponspors {
    text-align: center;
    justify-content: center;
}

.sponspors-company {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding-top: 50px;
}

.company-name img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding-bottom: 100px;
}

/* Our Team Member section */
.team-member {
    padding-top: 50px;
    display: flex;
    column-gap: 35px;
    text-align: center;
    justify-content: center;
}

.member img {
    height: 150px;
    width: 150px;
}

/* Footer section */
footer {
    margin: 130px 240px 230px 240px;
    height: 100px;
    justify-content: center;
    background: #FFF4E7;
    border-radius: 10px;
}

footer p {
    padding: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

/* Responsive Media for Mobile*/
@media only screen and (max-width:576px) {
    .navigation {
        flex-direction: column;
    }

    .company-name h4 {
        padding: 0;
        font-size: 35px;
    }

    .banner {
        height: 1000px;
    }

    .banner-description h1 {
        font-weight: 700;
        font-size: 30px;
        color: #131313;
    }

    .nav-menus ul {
        padding-top: 0;
        flex-direction: column;
        list-style: none;
        gap: 20px;
    }

    .banner-image img {
        width: 80%;
    }

    .quick-list {
        flex-direction: column-reverse;
    }

    .quick-list-image {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-image img {
        width: 70%;
        margin: 0 auto;
        padding-top: 0;
    }

    .quick-list-detais {
        padding-top: 0px;

    }


    .primary-paragraph {
        padding: 20px;
    }

    .primary-button {
        margin: 0 auto;
    }

    .features {
        flex-direction: column;
    }

    .features-deatails {
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 30px;
    }

    .features-image img {
        width: 80%;
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .expirence-button {
        width: 250px;
        height: 100px;
        margin-left: 75px;
    }

    .expirence-button h3 {
        font-size: 35px;

    }

    .expirence-button p {
        font-size: 15px;

    }

    .features-all {
        padding: 100px;
        width: 100%;
        height: auto;

    }

    .some-facts-info p {
        display: none;
    }

    .some-facts-info h3 {
        padding-right: 150px;
        text-align: center;
        font-size: 35px;
    }

    .services {
        padding-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
    }

    .sponspors-company {
        flex-direction: column;
        row-gap: 30px;
    }

    .team-member {
        flex-direction: column;
    }

    footer {
        width: 80%;
        align-items: center;
        height: auto;
        justify-content: center;
        margin: 0 auto;
    }
}